
.dashboard__media__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 24px 32px;
    position: relative;
    background-color: $light-card-bg;
    flex: 1 1 0;

    &:not(:first-of-type):not(:last-of-type) {
      margin: 0 16px
    }
  
    &--dark {
      background-color: $dark-card-bg;

      .followers {
        p {
          color: $dark-white-text;
        }
      }
    }
  
    &:after {
      content: "";
      position: absolute;
      top: -4px;
      left: 0;
      width: 100%;
      height: 4px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  
    &--facebook {
      &:after {
        background: $border-facebook;
      }
    }
  
    &--twitter {
      &:after {
        background: $border-twitter;
      }
    }
  
    &--instagram {
      position: relative;
  
      &:after {
        background: $border-instagram;
      }
    }
  
    &--youtube {
      &:after {
        background: $border-youtube;
      }
    }
  
    .username {
      display: flex;
      align-items: center;
  
      &__icon {
        margin-right: 8px;
      }
  
      &__text {
        font-size: $font-size-tiny;
        font-weight: 700;
        color: $light-gray-text;
      }
    }
  
    .followers {
      margin: 12px 0 32px;

      p {
        font-size: $font-size-large * 2.5;
        font-weight: 700;
        margin: 8px 0;
      }
      
      small {
        text-transform: uppercase;
        font-size: $font-size-tiny;
        color: $light-gray-text;
        letter-spacing: 0.25rem;
      }
    }
  
    .change {
      font-size: $font-size-tiny;
      display: flex;
      align-items: center;
      font-weight: 700;
  
      i {
        display: block;
        width: 0;
        height: 0;
        margin-right: 4px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
      }
  
      &--positive {
        i {
          border-bottom: 5px solid $font-lime;
        }
        span {
          color: $font-lime;
        }
      }
      &--negative {
        i {
          border-top: 5px solid $font-red;
        }
        span {
          color: $font-red;
        }
      }
    }
  }