@import './reset.scss';
@import "layout";
@import "colors";
@import "fonts";

// breakpoints
$view-mobile-max: 600px;
$view-tablet-max: 1024px;
$view-desktop-small-max: 1440px;
$view-infinity-min: $view-desktop-small-max + 1;

html, body {
    min-height: 100vh;
}

html, body, * {
    box-sizing: border-box;
}

.app {
    &--light {
        background-color: $light-background;
    }
    &--dark {
        background: $dark-background;
    }
}